.body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #060932;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.heading {
  color: #afccb5;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  /* Clamp (min-size, preferred-size, max-size) */
  font-size: clamp(3rem, 5vw + 1rem, 4rem);
}

.FixIt {
  color: #ffffff;
  text-decoration: none;
}

.paragraph {
  color: #ffffff;
  font-size: clamp(1rem, 0.82rem + 0.91vw, 1.5rem);
  font-weight: 600;
  font-style: normal;
  margin-bottom: 1rem;
}

.paragraph .text-info {
  color: #afccb5 !important;
  display: inline-block; /* Helps some browsers render color better on spans */
}

#buttons-container {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#login,
#guest,
#urgent {
  height: 4rem;
  width: 15rem;
  font-weight: 700;
  font-size: 1rem;
  border: none;
}

#login {
  background-color: #341bf1;
}

#guest {
  background-color: #afccb5;
  color: #060932;
}

#urgent {
  background-color: #8a6d10;
}

/* MEDIA QUERIES */

/* XL SCREENS */
@media (min-width: 75rem) {
  .heading {
    font-size: 4rem;
  }

  .img-fluid {
    width: 25rem;
  }

  .paragraph {
    font-size: 1.25rem !important;
  }

  #buttons-container {
    width: 100%;
    max-width: 20rem;
    margin-right: 0;
    margin-left: auto;
  }

  #login,
  #guest,
  #urgent {
    height: 5rem;
    width: 20rem;
    font-size: 1.25rem;
  }

  #login:hover,
  #guest:hover,
  #urgent:hover {
    transform: scale(1.05);
  }
}
