/* ================= RESET & GLOBAL ================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.debug * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* ================= PAGE ================= */
#page-11 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #060932;
}

/* ================= HEADER ================= */
header {
  width: 100%;
  color: #ffffff;
}

/* ---------- Status bar ---------- */
.status-bar {
  height: 24px;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;
  color: #ffffff;
  font-size: 0.85rem;

  position: sticky;
  top: 0;
  z-index: 100;
}

.status-left .time {
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffff;
}

.status-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status-right i {
  font-size: 0.85rem;
  line-height: 1;
}

/* ---------- Navbar ---------- */
.nav-bar {
  padding: 40px 0px 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin: 0;
  font-size: 2.5rem;
  color: #afccb5;
}

.menu-hamburger {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.menu-hamburger i {
  font-size: 1.5rem;
  line-height: 1;

  background: none;
  border: none;
  color: white;
}

/* ================= BACK/CLOSE BUTTON ================= */

.mobile-nav-back {
  position: absolute;
  top: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.mobile-nav-back i {
  font-size: 1.5rem;
  line-height: 1;

  color: white;
}

.mobile-nav {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;

  width: 120px;
  height: 100vh;

  background: #060932;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 110px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);

  transform: translateX(100%);
  transition: transform 300ms ease;

  display: flex;
  margin: 0;
}

/* When menu is open (JS will toggle this) */
.mobile-nav.open {
  transform: translateX(0);
}

/* ================= NAVIGATION LINKS ================= */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.nav-links .logout {
  margin-top: auto;
  padding-bottom: 24px;
}

.nav-links i {
  margin-bottom: 5px;
  color: white;
  font-size: 1.5rem;
}

.nav-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

.nav-links li a {
  padding: 10px 0;
  width: 100%;
}

/* Overlay */
.nav-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;

  z-index: 1000;
}

.nav-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
/* ================= Typography ================= */

h3 {
  font-size: 1rem;
  color: #a8982e;
}

p {
  font-size: 1rem;
  color: #060932;
}

li {
  font-weight: 600;
  color: #060932;
}

/* ---------- Headings ---------- */
h2 {
  width: auto;
  margin: 16px 0 12px;

  font-size: 1.5rem;
  color: #060932;
}

/* ================= CARD ================= */
.card-container {
  width: 100%;
  background-color: #ffffff;

  border-radius: 40px 40px 0 0;
  padding: 20px 20px 140px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-top: 20px;
  flex: 1;
}

.search-and-actions{
    width: min(375px, 100%);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 12px;
}

/* Let the search bar grow to fill available space */
.search-input{
   flex: 1;
   min-width: 0; /* prevents overflow when next to sort/filter */

    display: flex;
    align-items: center;
    gap: 8px;

    border: 1px solid #060932;
    border-radius: 999px;
    padding: 8px 10px;
    background: #ffff; 
}

.search-field{
    flex: 1;
    min-width: 0;

    border: none;
    outline: none;
    background: transparent;

    font-family: "Inter", sans-serif;
    font-size: 0.85rem;
}

.search-field::placeholder {
    color: #060932;
    opacity: 0.8;
}
.search-btn,
.mic-btn{
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.search-btn i,
.mic-btn i{
    font-size: 1rem;
    line-height: 1;
    color: #060932;
}

/* Sort and Filter Buttons */
.sort-and-filter{
  display: flex;
  gap: 8px;
}

.sort-btn,
.filter-btn{
  width: 44px;
height: 44px;

display: flex;
align-items: center;
justify-content: center;

border: none;
background: #afccb5;
padding: 0;
border-radius: 50%;
}

.sort-btn {
  display: flex;
}

.sort-btn i,
.filter-btn i{
  font-size: 1.25rem;
  line-height: 1;
  color: #060932;
}

.sort-btn.is-active,
.filter-btn.is-active{
  background: #e6efe9;
}

.active-resolved-tab{
  width: min(375px, 100%);
  margin: 0 auto;

  display: flex;
  align-items: center;

  background: #B9B8B8;
  border-radius: 999px;
}


.active-btn,
.resolved-btn{
  flex: 1; /* tells each button to take up equal space inside the parent flex container */
  height: 40px;
  width: 100%;

  background: none;
  border: none;

   display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 700;
  color: #060932;

  padding: 10px 0;
  border-radius: 999px;
  cursor: pointer;

  opacity: 0.8;
}

.resolved-btn{
  background: #afccb5;
  color:#ffff;
  opacity: 1;
  box-shadow:  0 1px 2px rgba(0,0,0,0.12) ;
}

/* ---------- RESOLVED STATE ---------- */
.report-card[data-status="resolved"] {
  background-color: #b7d3bf; /* calmer, muted green */
  opacity: 0.95;
}

.report-card{
  width: min(375px, 100%);
  margin: 0 auto;
  gap: 20px;

  display: grid;
  grid-template-columns: 90px 1fr auto;
  column-gap: 12px;
  align-items: stretch; /* stretch tells every column:
“Fill the full row height”*/
  margin-top: 20px;

  background-color: #afccb5;
  border-radius: 10px;
  overflow: hidden;

  padding: 12px;
  border: none;
  text-align: left;
  cursor: pointer;

}

.image-preview{
  width: 90px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.preview-img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.report-summary{
  min-width: 0%; /* prevents text overflow in grid */
}

.report-number{
  margin: 0 0 4px;
  font-size: 1rem;
  color: #060932;
}

.report-meta{
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0.85rem;
  color:#060932;
  font-weight: 500;
}

.status-pill{
  border-radius: 999px;
  background-color: white;
  padding: 8px 10px;

  font-size: 0.9rem;
  font-weight: 700;
  white-space: nowrap;

  align-self: end;
}

/* Resolved pill */
.report-card[data-status="resolved"] .status-pill {
  color: #341BF1;
}


/* ================= Active States ================= */

.menu-hamburger,
.search-btn,
.mic-btn,
.sort-btn,
.filter-btn{
    -webkit-tap-highlight-color: transparent;
    transition: transform 120ms ease, opacity 120ms ease;
}

/* Press Feedback */
.menu-hamburger:active,
.mic-btn:active,
.sort-btn:active,
.filter-btn:active{
transform: scale(0.92);
opacity: 0.85;
}


.active-btn,
.resolved-btn{
    transition: transform 120ms ease, opacity 120ms ease;
    -webkit-tap-highlight-color: transparent;
}

.active-btn:active,
.resolved-btn:active{
    transform: scale(0.98);
    opacity: 0.9;
}

.report-card{
    transition: transform 140ms ease, opacity 140ms ease;
    -webkit-tap-highlight-color: transparent;
}

.report-card:active{
    transform: scale(0.99);
    opacity: 0.8;
}

/* .menu-hamburger:focus-visible,
.mic-btn:focus-visible,
.sort-btn:focus-visible,
.filter-btn:focus-visible,
.active-btn:focus-visible,
.resolved-btn:focus-visible,
.report-card:focus-visible{
  outline: 2px solid #341bf1;
  outline-offset: 2px;
} */